<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header') -%>
<body>
    <%- include('layouts/header') -%>

        <div class="container-main card p-5 mt-3 mb-5 ">
                <h1 class="display-4 mb-5">Create a Post</h1>

            <form class="mt-3"action="/posts/store" method="POST" enctype="multipart/form-data">
                <!-- Name input-->
                <div class="form-outline mb-4">
                    <input type="text" required name="model" id="title" class="form-control"/>
                    <label class="form-label" for="title">Post Title</label>
                </div> 
                
                <!-- Name input-->
                <div class="form-outline mb-4">
                    <input type="email" required name="productionYear" id="email" class="form-control"/>
                    <label class="form-label" for="title">Email</label>
                </div>
                
                <!-- Name input-->
                <div class="form-outline mb-4">
                    <input type="text" required name="description" id="username" class="form-control"/>
                    <label class="form-label" for="title">UserName</label>
                </div> 

                 


                <script>
                    $('#boay').summernote({
                        plaseholder: "Your message goes here",
                        tabsize: 2,
                        height: 200
                    });
                </script>

                <!--Submit button-->
                <button type="submit" class="btn btn-primary btn-block" mb-4>Send</button>
                </form>
        </div>
        <%- include('layouts/footer') -%>

</body>
<!--MDB-->
<%- include('layouts/scripts') -%>
</html>