<!DOCTYPE html>
<html lang="en">
    <%- include('./layouts/header') -%>
<body>
    <%- include('./layouts/navbar') -%>

        <div class="container-main card p-5 mt-3 mb-5 ">
            <nav aria-label="breadcrumb mb-5">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item "><a href="/login">to login click here</a></li>
                </ol>
              </nav>


                <h1 class="display-4 mb-5">Create a User</h1>

                <form class="mt-3" action="/register" method="POST">
                    <!-- model input-->
                    <div class="form-outline mb-4">
                        <input type="email" name="email" id="emailInput" required>
                        <label class="form-label" for="email">Email</label>
                    </div> 
                    
                    <!-- password input -->
                    <div class="form-outline mb-4">
                        <input type="password" name="password" id="passwordInput" required>
                        <label class="form-label" for="password">Password</label>
                    </div>
                
                    <!-- confirm password input -->
                    <div class="form-outline mb-4">
                        <input type="password" name="confirmPassword" id="confirmPasswordInput" required>
                        <label class="form-label" for="confirmPassword">Confirm Password</label>
                    </div>
                
                    
                    <button type="submit" class="btn btn-primary btn-block" mb-4>Send</button>
                </form>
                
                <script>
                    $('#boay').summernote({
                         placeholder: "Your message goes here",
                         tabsize: 2,
                         height: 200
                    });
                
                </script>

            </form>
        </div>
        <%- include('./layouts/footer') -%>

</body>
<!--MDB-->
<%- include('./layouts/scripts') -%>
</html>
